body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("src/images/bjtable.jpg");
  background-size: cover;
}

.container {
  max-width: 600px;
  margin: 4rem auto;
  text-align: center;
  font-size: 1.2rem;
  color: gold;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
}

.btn-game {
  background: gold;
  color: green;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 14px;
  border-radius: 5px;
}

.btn-game:hover {
  background: goldenrod;
}

#cards-display {
  width: 100vw;
  height: 300px;
}

#player-cards,
#dealer-cards {
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 50%;
}

img {
  border-radius: 5px;
}
div.card-slot {
  border-radius: 5px;
  height: 120px;
  width: calc(120px * 5 / 7);
  margin-right: 5px;
  transform: rotate(-15deg);
}

.card1 {
  position: relative;
  left: 0px;
}
.card2 {
  position: relative;
  left: -50px;
}
.card3 {
  position: relative;
  left: -100px;
}
.card4 {
  position: relative;
  left: -150px;
}
.card5 {
  position: relative;
  left: -200px;
}

/* div.card-slot:nth-of-type(1) {
  margin-bottom: 5px;
} */

img.card {
  width: 100%;
  height: 100%;
}
